img {
    display: block;
    width: 120px;
    height: 120px;
    
  }

#btn-primary btn-lg{
    text-align: center;

} 
.button {
    position: absolute;
    top: 50%;
}

#text-justify{
    align-items: center;

}